
   






.slider {
    
    width: 512px;
    height: 512px;
    border: solid black;
    margin: 30px auto;
    overflow: hidden;
    background-color: red;
    
    
}


.slider_line {
    width: 1536px;
    height: 512px;
    display: flex;
    position: relative;
    transition: all ease 1s;

}

.buttons {
    text-align: center;
}

